[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apache-airflow = "*"
psycopg = "*"

[dev-packages]
jupyter = "*"
pytest = "*"
pandas = "*"
tqdm = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
